<div>
  <h2 id="page-heading" data-cy="PlanHeading">
    <span>Kế hoạch</span>

    <div class="d-flex justify-content-end">
      <button
        *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN']"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plan"
        [routerLink]="['/plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Thêm mới</span>
      </button>
    </div>
  </h2>

  <p-table
    *ngIf="!isMobile"
    #dt2
    [value]="planDetailResults"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    styleClass="p-datatable-gridlines"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
    [globalFilterFields]="['code', 'name', 'subjectOfAssetmentPlan', 'frequency', 'timeStart', 'timeEnd', 'statusPlan']"
    stripedRows
    [tableStyle]="columnWidths"
    showGridlines
    [paginator]="true"
    [rows]="selectedPageSize"
    [rowsPerPageOptions]="pageSizeOptions"
    (onPage)="onPageSizeChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [responsive]="true"
    [rowHover]="true"
  >
    >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>STT</th>
        <th style="min-width: 150px">Mã kế hoạch</th>
        <th style="min-width: 300px">Tên kế hoạch</th>
        <th style="min-width: 150px">Bộ phận được KT</th>
        <th style="min-width: 100px">Tần suất</th>
        <th style="min-width: 180px">Thời gian bắt đầu</th>
        <th style="min-width: 180px">Thời gian kết thúc</th>
        <th style="min-width: 150px">Người tạo</th>
        <th style="min-width: 200px">Người cập nhật</th>
        <th style="min-width: 160px">Thời gian tạo</th>
        <th style="min-width: 180px">Thời gian cập nhật</th>
        <th style="min-width: 110px">Trạng thái</th>
        <th>Tuỳ chọn</th>
      </tr>
      <tr>
        <th style="padding: 0"></th>
        <th style="padding: 0"></th>
        <th style="padding: 0"></th>
        <th style="padding: 0">
          <p-columnFilter type="text" field="name" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter type="text" field="subjectOfAssetmentPlan" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter field="frequency" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                [ngModel]="value"
                [options]="listOfFrequency"
                optionLabel="name"
                optionValue="name"
                (onChange)="filter($event.value)"
                [showClear]="true"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter type="date" field="timeStart" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter type="date" field="timeEnd" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter type="text" field="createBy" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter type="text" field="updateBy" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter type="date" field="createdAt" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter type="date" field="updatedAt" placeholder="Search"></p-columnFilter>
        </th>
        <th style="padding: 0">
          <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option" [severity]="getSeverity(option)" />
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="padding: 0"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-expanded="expanded" let-index="rowIndex">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="rowNode"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="rowNode.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></p-button>
        </td>
        <td>{{ index + 1 }}</td>
        <td class="text-start">{{ rowNode.code }}</td>
        <td class="text-start">{{ rowNode.name }}</td>
        <td>{{ rowNode.subjectOfAssetmentPlan }}</td>
        <td>{{ rowNode.frequency }}</td>
        <td>{{ rowNode.timeStart | date: 'dd/MM/yyyy' }}</td>
        <td>{{ rowNode.timeEnd | date: 'dd/MM/yyyy' }}</td>
        <td>{{ rowNode.createBy }}</td>
        <td>{{ rowNode.updateBy }}</td>
        <td>{{ rowNode.createdAt | date: 'dd/MM/yyyy' }}</td>
        <td>{{ rowNode.updatedAt | date: 'dd/MM/yyyy' }}</td>
        <td><p-tag [value]="rowNode.status" [severity]="getSeverity(rowNode.status)" /></td>
        <td>
          <div class="action-buttons">
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN']"
              icon="pi pi-copy"
              aria-label="Copy"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'info'"
              title="Sao chép"
              (onClick)="copyPlan(rowNode.id)"
            />
            <p-button
              icon="pi pi-pencil"
              aria-label="Edit"
              [rounded]="true"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'warning'"
              *ngIf="validDisplayButton(rowNode, ['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN'])"
              [routerLink]="['/plan', rowNode.id, 'edit']"
              title="Chỉnh sửa"
            />
            <p-button
              icon="pi pi-file-plus"
              aria-label="Gross"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'help'"
              *ngIf="validDisplayButton(rowNode, ['ROLE_ISO_ADMIN', 'ROLE_ISO_CHECK'])"
              title="Gộp"
              [routerLink]="['/plan', rowNode.id, 'gross-script']"
            />
            <p-button
              icon="pi pi-eye"
              aria-label="View"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'info'"
              title="Xem chi tiết"
              [routerLink]="['/plan', rowNode.id, 'summarize-plan']"
            />
            <p-button
              icon="pi pi-wrench"
              aria-label="Report"
              [rounded]="true"
              [routerLink]="['/plan', rowNode.id, 'inspection-plan']"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              *ngIf="validDisplayButton(rowNode, ['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_FIX_PLAN', 'ROLE_ISO_CHECK'])"
              [severity]="'danger'"
              title="Khai báo kế hoạch khắc phục"
            />
            <p-button
              icon="pi pi-file-excel"
              aria-label="Excel"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'success'"
              (onClick)="exportSingleItemToExcel(rowNode)"
              title="Xuất excel"
            />
            <p-button
              icon="pi pi-trash"
              aria-label="Delete"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
              *ngIf="validDisplayButton(rowNode, ['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN'])"
              (onClick)="delete(rowNode)"
              title="Xoá"
            />
          </div>
        </td>
      </tr>
    </ng-template>
    <!-- table con -->
    <ng-template pTemplate="rowexpansion" let-rowNode>
      <tr>
        <td colspan="17">
          <div>
            <!-- <h5>Table con</h5> -->
            <p-table
              [value]="rowNode.planDetail"
              dataKey="id"
              [scrollable]="true"
              scrollHeight="400px"
              [paginator]="true"
              [rows]="selectedPageSize"
              [rowsPerPageOptions]="pageSizeOptions"
              (onPage)="onPageSizeChange($event)"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [responsive]="true"
              [rowHover]="true"
              [globalFilterFields]="[
                'code',
                'name',
                'testOfObject',
                'reportType',
                'numberOfCheck',
                'implementer',
                'paticipant',
                'checkerGroup',
                'checker',
                'frequency',
                'status'
              ]"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="min-width: 30px">STT</th>
                  <th style="min-width: 150px">Mã BBKT</th>
                  <th style="min-width: 300px">Tên BBKT</th>
                  <th style="min-width: 150px">Người được KT</th>
                  <th style="min-width: 150px">Loại BBKT (ID)</th>
                  <th style="min-width: 100px">Số lần KT</th>
                  <th style="min-width: 150px">Thang điểm</th>
                  <th style="min-width: 125px">Tổng điểm</th>
                  <th style="min-width: 150px">Loại quy đổi</th>
                  <th style="min-width: 30px">NC</th>
                  <th style="min-width: 30px">LY</th>
                  <th style="min-width: 180px">SL không đạt</th>
                  <th style="min-width: 150px">Người KT</th>
                  <th style="min-width: 100px">Tần suất</th>
                  <th style="min-width: 110px">Trạng thái</th>
                  <th style="min-width: 10rem">Tuỳ chọn</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th>
                    <p-columnFilter type="text" field="name" placeholder="Search"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="testOfObject" placeholder="Search"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="reportType" placeholder="Search"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="sumOfAudit" placeholder="Search"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="scoreScale" placeholder="Search"></p-columnFilter>
                  </th>
                  <th></th>
                  <th>
                    <p-columnFilter type="text" field="convertScore" placeholder="Search"></p-columnFilter>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                    <p-columnFilter type="text" field="checker" placeholder="Search"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="frequency" matchMode="equals" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown
                          [ngModel]="value"
                          [options]="listOfFrequency"
                          optionLabel="name"
                          optionValue="name"
                          (onChange)="filter($event.value)"
                          [showClear]="true"
                        >
                        </p-dropdown>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" [showClear]="true">
                          <ng-template let-option pTemplate="item">
                            <p-tag [value]="option" [severity]="getSeverity(option)" />
                          </ng-template>
                        </p-dropdown>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-detail let-index="rowIndex">
                <tr>
                  <td>{{ index + 1 }}</td>
                  <td class="text-start">{{ detail.code }}</td>
                  <td class="text-start">{{ detail.name }}</td>
                  <td>{{ detail.testOfObject }}</td>
                  <td>{{ detail.reportType }}</td>
                  <td>{{ detail.sumOfAudit }}</td>
                  <td>{{ detail.scoreScale }}</td>
                  <td>{{ getTotalPoit(detail) }}</td>
                  <td>{{ detail.convertScore }}</td>
                  <td>{{ detail.sumOfNc }}</td>
                  <td>{{ detail.sumOfLy }}</td>
                  <td>{{ detail.sumOfFail }}</td>
                  <td>{{ detail.reviewer }}</td>
                  <td>{{ detail.frequency }}</td>
                  <td><p-tag [value]="detail.status" [severity]="getSeverity(detail.status)" /></td>
                  <td>
                    <div class="action-buttons">
                      <p-button
                        icon="pi pi-check"
                        aria-label="Check"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'success'"
                        *ngIf="validDisplayButton(detail, ['ROLE_ISO_ADMIN', 'ROLE_ISO_CHECK'])"
                        title="Đánh giá"
                        (onClick)="showDialogCheckPlan(rowNode, index)"
                      />
                      <p-button
                        icon="pi pi-eye"
                        aria-label="View"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'info'"
                        title="Xem chi tiết"
                        (onClick)="showDialogGeneralCheckPlan(rowNode, detail)"
                      />
                      <p-button
                        icon="pi pi-wrench"
                        aria-label="Report"
                        [rounded]="true"
                        [routerLink]="['/plan', detail.id, 'inspection-report']"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        *ngIf="validDisplayButton(detail, ['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_FIX_PLAN', 'ROLE_ISO_CHECK'])"
                        [severity]="'danger'"
                        title="Khai báo kế hoạch khắc phục"
                      />
                      <p-button
                        icon="pi pi-file-excel"
                        aria-label="Excel"
                        (onClick)="exportExcel(detail.id)"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        [severity]="'success'"
                        title="Xuất excel"
                      />
                      <p-button
                        icon="pi pi-trash"
                        aria-label="Delete"
                        styleClass="p-button-rounded p-button-info p-button-sm mr-2"
                        *ngIf="validDisplayButton(detail, ['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN'])"
                        [severity]="'danger'"
                        title="Xoá"
                      />
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    *ngIf="isMobile"
    [value]="planDetailResults"
    styleClass="p-datatable-gridlines"
    [rows]="selectedPageSize"
    [paginator]="true"
    [rowsPerPageOptions]="pageSizeOptions"
    (onPage)="onPageSizeChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [responsive]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Tuỳ chọn</th>
        <th style="min-width: 150px">Tên kế hoạch</th>
        <th style="min-width: 100px">Tần suất</th>
        <th style="min-width: 170px">Thời gian bắt đầu</th>
        <th style="min-width: 172px">Thời gian kết thúc</th>
        <th style="min-width: 150px">Thời gian tạo</th>
        <th style="min-width: 110px">Trạng thái</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="name" placeholder="Search"></p-columnFilter>
        </th>
        <th></th>
        <th>
          <p-columnFilter
            type="date"
            field="timeStart"
            placeholder="Search"
            [matchMode]="'dateIs'"
            [showClearButton]="true"
            [showApplyButton]="true"
          >
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="date"
            field="timeEnd"
            placeholder="Search"
            [matchMode]="'dateIs'"
            [showClearButton]="true"
            [showApplyButton]="true"
          >
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="date"
            field="createdAt"
            placeholder="Search"
            [matchMode]="'dateIs'"
            [showClearButton]="true"
            [showApplyButton]="true"
          >
          </p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-expanded="expanded" let-index="rowIndex">
      <tr>
        <td>
          <div class="action-buttons my-1">
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN']"
              icon="pi pi-pencil"
              aria-label="Edit"
              [rounded]="true"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'warning'"
              [routerLink]="['/plan', rowNode.id, 'edit']"
              title="Chỉnh sửa"
            />
            <p-button
              icon="pi pi-eye"
              aria-label="View"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'info'"
              title="Xem chi tiết"
              (onClick)="showListReport(rowNode)"
            />
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CHECK']"
              icon="pi pi-file-plus"
              aria-label="Gross"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'help'"
              title="Gộp"
              [routerLink]="['/plan', rowNode.id, 'gross-script']"
            />
          </div>
          <div class="action-buttons my-1">
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_FIX_PLAN', 'ROLE_ISO_CHECK']"
              icon="pi pi-wrench"
              aria-label="Report"
              [rounded]="true"
              [routerLink]="['/plan', rowNode.id, 'inspection-plan']"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
              title="Khai báo kế hoạch khắc phục"
            />
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN']"
              icon="pi pi-trash"
              aria-label="Delete"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
              (onClick)="delete(rowNode)"
              title="Xoá"
            />
          </div>
        </td>
        <td class="text-ellipsis text-start" [ngbTooltip]="rowNode.name" container="body" placement="top-start">{{ rowNode.name }}</td>
        <td>{{ rowNode.frequency }}</td>
        <td>{{ rowNode.timeStart | date: 'dd/MM/yyyy' }}</td>
        <td>{{ rowNode.timeEnd | date: 'dd/MM/yyyy' }}</td>
        <td>{{ rowNode.createdAt | date: 'dd/MM/yyyy' }}</td>
        <td><p-tag [value]="rowNode.status" [severity]="getSeverity(rowNode.status)" /></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Đánh giá BBKT"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="dialogCheckPlan"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ height: '70vh' }"
  (onHide)="closeEvalReport(planParent)"
>
  <div class="d-flex" style="justify-content: flex-end !important">
    <div class="custom-button-apply ms-3">
      <p-button
        label="Thêm dữ liệu"
        icon="pi pi-check"
        (onClick)="addRowPlanEvaluation()"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn"
        [raised]="true"
        [severity]="'info'"
      />
    </div>
  </div>

  <p-table
    *ngIf="!isMobile"
    [value]="planEvaluations"
    [paginator]="true"
    [rows]="100"
    [responsive]="true"
    styleClass="p-datatable-gridlines"
    [rowsPerPageOptions]="[5, 10, 20]"
    [autoLayout]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border">STT</th>
        <th class="text-center border">Mã BBKT</th>
        <th class="text-center border">Tên mẫu BBKT</th>
        <th class="text-center border">Đối tượng kiểm tra</th>
        <th class="text-center border">Loại BBKT</th>
        <th class="text-center border">Loại đánh giá</th>
        <th class="text-center border">Trạng thái</th>
        <th class="text-center border">Tên kế hoạch</th>
        <th class="text-center border">Người kiểm tra</th>
        <th class="text-center border">Ngày kiểm tra</th>
        <th class="text-center border">Tuỳ chọn</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr>
        <td class="text-center border">{{ index + 1 }}</td>
        <td class="text-start border">{{ planParent.code }}</td>
        <td class="text-start border">{{ planParent.name }}</td>
        <td class="text-center border">{{ report.testOfObject }}</td>
        <td class="text-center border">{{ report.reportType }}</td>
        <td class="text-center border">{{ report.convertScore }}</td>
        <td class="text-center border">{{ report.status }}</td>
        <td class="text-center border">
          <input
            type="text"
            [(ngModel)]="item.name"
            required
            class="form-control"
            [style.borderColor]="!item.name || isNameDuplicate[index] ? '#f44336' : ''"
            [style.borderLeft]="!item.name || isNameDuplicate[index] ? '3px solid #e74c3c' : ''"
            (ngModelChange)="duplicateNameValidator(item.name, index)"
          />
          <div class="error-message">
            <span *ngIf="isNameDuplicate[index]">Tên này đã tồn tại</span>
          </div>
        </td>
        <td class="text-center border">
          {{ report.reviewer }}
        </td>
        <td class="text-center border">
          <p-calendar
            inputId="checkDate"
            [(ngModel)]="item.checkDate"
            [minDate]="minSelectableDate"
            [maxDate]="maxSelectableDate"
            required
            class="form-control"
            appendTo="body"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </td>
        <td class="text-center border">
          <div class="action-buttons mx-1">
            <p-button
              icon="pi pi-check"
              aria-label="Check"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'success'"
              (onClick)="showDialogCheckPlanChild(item)"
              [disabled]="
                !item.name ||
                !item.checkDate ||
                isNameDuplicate[index] ||
                !(report.checker == account.login || hasAnyAuthority(['ROLE_ISO_ADMIN']))
              "
            />
            <p-button
              icon="pi pi-trash"
              aria-label="Delete"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
              title="Xoá"
              (onClick)="deletePlanChild(planEvaluations, index)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-table
    *ngIf="isMobile"
    [value]="planEvaluations"
    [paginator]="true"
    [rows]="100"
    [responsive]="true"
    styleClass="p-datatable-gridlines"
    [rowsPerPageOptions]="[5, 10, 20]"
    [autoLayout]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border">Tên kế hoạch</th>
        <th class="text-center border">Người kiểm tra</th>
        <th class="text-center border">Ngày kiểm tra</th>
        <th class="text-center border">Tuỳ chọn</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr>
        <td class="text-center border">
          <input
            type="text"
            [(ngModel)]="item.name"
            required
            class="form-control"
            [style.borderColor]="!item.name || isNameDuplicate[index] ? '#f44336' : ''"
            [style.borderLeft]="!item.name || isNameDuplicate[index] ? '3px solid #e74c3c' : ''"
            (ngModelChange)="duplicateNameValidator(item.name, index)"
          />
          <div class="error-message">
            <span *ngIf="isNameDuplicate[index]">Tên này đã tồn tại</span>
          </div>
        </td>
        <td class="text-center border">
          {{ report.reviewer }}
        </td>
        <td class="text-center border">
          <p-calendar
            inputId="checkDate"
            [(ngModel)]="item.checkDate"
            [minDate]="minSelectableDate"
            [maxDate]="maxSelectableDate"
            required
            class="form-control"
            appendTo="body"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </td>
        <td class="text-center border">
          <div class="action-buttons mx-1">
            <p-button
              icon="pi pi-check"
              aria-label="Check"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'success'"
              (onClick)="showDialogCheckPlanChild(item)"
              [disabled]="
                !item.name ||
                !item.checkDate ||
                isNameDuplicate[index] ||
                !(report.checker != account.login || hasAnyAuthority(['ROLE_ISO_ADMIN']))
              "
            />
            <p-button
              icon="pi pi-trash"
              aria-label="Delete"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
              title="Xoá"
              (onClick)="deletePlanChild(planEvaluations, index)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="action-buttons">
      <p-button
        label="Huỷ"
        icon="pi pi-ban"
        (onClick)="closeEvalReport(planParent)"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn"
        severity="danger"
      />
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Nội dung kiểm tra BB"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="dialogCheckPlanChild"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ height: '70vh' }"
>
  <p-table
    *ngIf="!isMobile"
    paginator="true"
    [rows]="100"
    [responsive]="true"
    styleClass="p-datatable-gridlines"
    [rowsPerPageOptions]="[5, 10, 20]"
    [autoLayout]="true"
    [value]="planGrDetail"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border">STT</th>
        <th class="text-center border">Nhóm tiêu chí</th>
        <th class="text-center border">Tên tiêu chí</th>
        <th class="text-center border">Tần suất</th>
        <th class="text-center border">Người kiểm tra</th>
        <th class="text-center border">Đánh giá</th>
        <th class="text-center border">Nội dung đánh giá</th>
        <th class="text-center border">Hình ảnh đánh giá</th>
        <th class="text-center border">Không đánh giá</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr>
        <td class="text-center border">{{ index + 1 }}</td>
        <td class="text-start border">{{ item.criterialGroupName }}</td>
        <td class="text-start border">{{ item.criterialName }}</td>
        <td class="text-center border">{{ item.frequency }}</td>
        <td class="text-center border">{{ item.createdBy }}</td>
        <td class="text-center border">
          <select [(ngModel)]="item.result" name="report.result" [disabled]="item.hasEvaluation == 0">
            <option *ngFor="let item1 of listEvalReports" [value]="item1.name">{{ item1.name }}</option>
          </select>
        </td>
        <td class="text-center border">
          <input type="text" [(ngModel)]="item.note" [disabled]="item.hasEvaluation == 0" />
        </td>
        <td class="text-center border">
          <p-button (click)="showDialogUpLoad(item, index)" label="Attach files" [disabled]="item.hasEvaluation == 0" />
          <p-dialog
            header="Upload Files"
            [modal]="true"
            [(visible)]="dialogVisibility[index]"
            [style]="{ width: '50rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
            [maximizable]="true"
          >
            <ng-container *ngIf="selectedData">
              <p-fileUpload
                name="files"
                [url]="''"
                [multiple]="true"
                accept="image/*"
                maxFileSize="10000000"
                mode="advanced"
                [auto]="false"
                [customUpload]="true"
                preview="true"
                (onSelect)="onFileSelect($event, selectedData, index)"
                (onClear)="onClear(selectedData)"
                (onRemove)="removeImg($event, selectedData)"
                [showUploadButton]="false"
              >
                <ng-template pTemplate="empty">
                  <div>Drag and drop files to here to upload.</div>
                </ng-template>
                <ng-template pTemplate="content">
                  <div *ngFor="let fileName of selectedData.image">
                    <div
                      *ngIf="!imageLoadErrors.has(fileName)"
                      style="display: grid; grid-template-columns: repeat(12, 1fr); gap: 1rem; align-items: center"
                    >
                      <div style="grid-column: span 4">
                        <img
                          [src]="'content/images/bbkt/' + fileName + '?t=' + getTimestamp()"
                          (error)="onImageError(fileName)"
                          alt="Image thumbnail"
                          style="width: 100%"
                          class="thumbnail-image"
                        />
                      </div>
                      <div style="grid-column: span 4">
                        <div class="file-name">{{ fileName }}</div>
                      </div>
                      <div style="grid-column: span 4">
                        <button
                          type="button"
                          (click)="deleteFile(fileName, selectedData)"
                          class="p-button p-button-icon-only p-button-text p-button-danger p-button-sm"
                        >
                          <span class="pi pi-times"></span>
                        </button>
                      </div>
                      <br />
                    </div>
                  </div>
                </ng-template>
              </p-fileUpload>
            </ng-container>
            <ng-template pTemplate="footer">
              <div class="flex justify-content-end">
                <p-button label="Xong" icon="pi pi-check" styleClass="p-button-text" (click)="dialogVisibility[index] = false"></p-button>
              </div>
            </ng-template>
          </p-dialog>
        </td>
        <td class="text-center border">
          <p-checkbox
            [binary]="true"
            [(ngModel)]="item.hasEvaluation"
            [trueValue]="0"
            [falseValue]="1"
            (onChange)="onEvaluationToggle(item)"
          ></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-table
    *ngIf="isMobile"
    paginator="true"
    [rows]="100"
    [responsive]="true"
    styleClass="p-datatable-gridlines"
    [rowsPerPageOptions]="[5, 10, 20]"
    [autoLayout]="true"
    [value]="planGrDetail"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border" style="padding: 0">Nhóm tiêu chí</th>
        <th class="text-center border" style="padding: 0">Tên tiêu chí</th>
        <th class="text-center border" style="padding: 0">Tần suất</th>
        <th class="text-center border" style="padding: 0">Đánh giá</th>
        <th class="text-center border" style="padding: 0">Nội dung đánh giá</th>
        <th class="text-center border" style="padding: 0">Hình ảnh đánh giá</th>
        <th class="text-center border" style="padding: 0">Không đánh giá</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr>
        <td class="text-center border" style="padding: 0">{{ item.criterialGroupName }}</td>
        <td class="text-center border" style="padding: 0">{{ item.criterialName }}</td>
        <td class="text-center border" style="padding: 0">{{ item.frequency }}</td>
        <td class="text-center border" style="padding: 0">
          <select [(ngModel)]="item.result" name="report.result" [disabled]="item.hasEvaluation == 0">
            <option *ngFor="let item1 of listEvalReports" [value]="item1.name">{{ item1.name }}</option>
          </select>
        </td>
        <td class="text-center border" style="padding: 0">
          <input type="text" [(ngModel)]="item.note" [disabled]="item.hasEvaluation == 0" (click)="openNoteDialog(item, index)" />
        </td>
        <td class="text-center border" style="padding: 0">
          <p-button (click)="showDialogUpLoad(item, index)" label="Attach files" [disabled]="item.hasEvaluation == 0" />
          <p-dialog
            header="Upload Files"
            [modal]="true"
            [(visible)]="dialogVisibility[index]"
            [style]="{ width: '50rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
            [maximizable]="true"
          >
            <ng-container *ngIf="selectedData">
              <p-fileUpload
                name="files"
                [url]="''"
                [multiple]="true"
                accept="image/*"
                maxFileSize="10000000"
                mode="advanced"
                [auto]="false"
                [customUpload]="true"
                preview="true"
                (onSelect)="onFileSelect($event, selectedData, index)"
                (onClear)="onClear(selectedData)"
                (onRemove)="removeImg($event, selectedData)"
                [showUploadButton]="false"
              >
                <ng-template pTemplate="empty">
                  <div>Drag and drop files to here to upload.</div>
                </ng-template>
                <ng-template pTemplate="content">
                  <div *ngFor="let fileName of selectedData.image">
                    <div
                      *ngIf="!imageLoadErrors.has(fileName)"
                      style="display: grid; grid-template-columns: repeat(12, 1fr); gap: 1rem; align-items: center"
                    >
                      <div style="grid-column: span 4">
                        <img
                          [src]="'content/images/bbkt/' + fileName + '?t=' + getTimestamp()"
                          (error)="onImageError(fileName)"
                          alt="Image thumbnail"
                          style="width: 100%"
                          class="thumbnail-image"
                        />
                      </div>
                      <div style="grid-column: span 4">
                        <div class="file-name">{{ fileName }}</div>
                      </div>
                      <div style="grid-column: span 4">
                        <button
                          type="button"
                          (click)="deleteFile(fileName, selectedData)"
                          class="p-button p-button-icon-only p-button-text p-button-danger p-button-sm"
                        >
                          <span class="pi pi-times"></span>
                        </button>
                      </div>
                      <br />
                    </div>
                  </div>
                </ng-template>
              </p-fileUpload>
            </ng-container>
            <ng-template pTemplate="footer">
              <div class="flex justify-content-end">
                <p-button label="Xong" icon="pi pi-check" styleClass="p-button-text" (click)="dialogVisibility[index] = false"></p-button>
              </div>
            </ng-template>
          </p-dialog>
        </td>
        <td class="text-center border" style="padding: 0">
          <p-checkbox [binary]="true" [(ngModel)]="item.hasEvaluation" [trueValue]="0" [falseValue]="1"></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="action-buttons">
      <p-button
        label="Huỷ"
        icon="pi pi-ban"
        (onClick)="dialogCheckPlanChild = false"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn"
        severity="danger"
      />
      <p-button
        label="Lưu"
        icon="pi pi-save"
        (onClick)="savePlanGrAndDetail()"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn"
        severity="info"
      />
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Tổng hợp biên bản kiểm tra"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="dialogGeneralCheckPlan"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ height: '70vh' }"
>
  <div class="col-container">
    <div class="col-m4-25 col-container-child">
      <label for="">Mã BBKT</label>
      <input type="text" class="inp-style" [(ngModel)]="reportSelected.code" readonly />
    </div>

    <div class="col-m4-25 col-container-child">
      <label for="">Tên BBKT</label>
      <input type="text" class="inp-style" [(ngModel)]="reportSelected.name" readonly />
    </div>

    <div class="col-m4-25 col-container-child">
      <label for="">Đối tượng kế hoạch đánh giá</label>
      <input type="text" class="inp-style" [(ngModel)]="reportSelected.testOfObject" readonly />
    </div>

    <div class="col-m4-25 col-container-child">
      <label for="">Kiểu quy đổi</label>
      <input type="text" class="inp-style" [(ngModel)]="reportSelected.convertScore" readonly />
    </div>
  </div>
  <p-table
    [value]="checkPlanDetails"
    [paginator]="true"
    [rows]="100"
    [responsive]="true"
    styleClass="p-datatable-gridlines"
    [rowsPerPageOptions]="[5, 10, 20]"
    [autoLayout]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border">STT</th>
        <th class="text-center border">Điểm theo đợt kiểm tra</th>
        <th class="text-center border">Mã kế hoạch</th>
        <th class="text-center border">Tên kế hoạch</th>
        <th class="text-center border">Ngày kiểm tra</th>
        <ng-container *ngIf="reportSelected.convertScore == 'Tính điểm'; else buocNhayTH">
          <th class="text-center border">NC</th>
          <th class="text-center border">LY</th>
        </ng-container>
        <ng-template #buocNhayTH>
          <th class="text-center border">Không đạt</th>
        </ng-template>
        <th class="text-center border">Tuỳ chọn</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reportSum let-index="rowIndex">
      <tr>
        <td class="text-center border">{{ index + 1 }}</td>
        <td class="text-center border">{{ totalPointSummarize(reportSum) }}</td>
        <td class="text-center border">{{ reportSum.planGroupHistoryCode }}</td>
        <td class="text-center border">{{ reportSum.planGroupHistoryName }}</td>
        <td class="text-center border">{{ reportSum.checkDate }}</td>
        <ng-container *ngIf="reportSelected.convertScore == 'Tính điểm'; else buocNhay">
          <td class="text-center border">{{ reportSum.sumOfNc }}</td>
          <td class="text-center border">{{ reportSum.sumOfLy }}</td>
        </ng-container>
        <ng-template #buocNhay>
          <td class="text-center border">{{ reportSum.sumOfFail }}</td>
        </ng-template>
        <td class="text-center border">
          <div class="action-buttons">
            <p-button
              icon="pi pi-reply"
              aria-label="check"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'info'"
              title="Chi tiết"
              (onClick)="showDialogSummaryOfCriteriaConclusion(reportSum)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog
  header="Tổng hợp kết luận tiêu chí"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="dialogSummaryOfCriteriaConclusion"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ height: '70vh' }"
>
  <p-table [value]="criteriaSummaries">
    <ng-template
      pTemplate="header"
      [paginator]="true"
      [rows]="100"
      [responsive]="true"
      styleClass="p-datatable-gridlines"
      [rowsPerPageOptions]="[5, 10, 20]"
      [autoLayout]="true"
    >
      <tr>
        <th class="text-center border">STT</th>
        <th class="text-center border">Nhóm tiêu chí</th>
        <th class="text-center border">Tên tiêu chí</th>
        <th class="text-center border">Kết luận</th>
        <th class="text-center border">Nội dung đánh giá</th>
        <th class="text-center border">Hình ảnh đánh giá</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-criteria let-index="rowIndex">
      <tr>
        <td class="text-center border">{{ index + 1 }}</td>
        <td class="text-center border">{{ criteria.criterialGroupName }}</td>
        <td class="text-center border">{{ criteria.criterialName }}</td>
        <td class="text-center border">{{ criteria.result ? criteria.result : 'PASS' }}</td>
        <td class="text-center border">{{ criteria.note }}</td>
        <td class="text-center border">
          <p-button (onClick)="showDialogViewImg(criteria.image)" label="Xem ảnh" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="Xem ảnh báo cáo" [(visible)]="dialogViewImage" [modal]="true" [style]="{ width: '70vw' }" [baseZIndex]="1100">
  <ng-container *ngIf="listImgReports && listImgReports.length > 0; else notImg">
    <img *ngFor="let image of listImgReports" [src]="'content/images/bbkt/' + image" class="img-fluid mb-3" />
  </ng-container>
  <ng-template #notImg>
    <h1>Chưa có ảnh đánh giá</h1>
  </ng-template>
</p-dialog>

<p-dialog
  header="Danh sách BBKT"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="dialogListReportByPlan"
  [style]="{ width: '100vw', height: '100vh', top: '0', left: '0' }"
>
  <div class="col-container">
    <div class="col-m4-25 col-container-child">
      <label for="">Tên kế hoạch</label>
      <input type="text" class="inp-style" name="name" [(ngModel)]="selectedPlan.name" readonly />
    </div>
    <div class="col-m4-25 col-container-child">
      <label for="">Trạng thái</label>
      <input type="text" class="inp-style" name="satuts" [(ngModel)]="selectedPlan.status" readonly />
    </div>
  </div>

  <p-table
    [value]="listReportByPlan"
    [paginator]="true"
    [rows]="100"
    [responsive]="true"
    styleClass="p-datatable-gridlines"
    [rowsPerPageOptions]="[5, 10, 20]"
    [autoLayout]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="border text-center">Tuỳ chọn</th>
        <th class="border text-center" style="padding: 0; min-width: 150px">Tên BBKT</th>
        <th class="border text-center" style="padding: 0; min-width: 150px">Người được KT</th>
        <th class="border text-center" style="padding: 0; min-width: 90px">Số lần KT</th>
        <th class="border text-center" style="padding: 0; min-width: 40px">Điểm</th>
        <th class="border text-center" style="padding: 0; min-width: 90px">Tổng điểm</th>
        <th class="border text-center" style="padding: 0; min-width: 30px">NC</th>
        <th class="border text-center" style="padding: 0; min-width: 30px">LY</th>
        <th class="border text-center" style="padding: 0; min-width: 110px">SL không đạt</th>
        <th class="border text-center" style="padding: 0; min-width: 150px">Người KT</th>
        <th class="border text-center" style="padding: 0; min-width: 110px">Trạng thái</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail let-index="rowIndex">
      <tr>
        <td class="border text-center">
          <div class="action-buttons my-1">
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CHECK']"
              icon="pi pi-check"
              aria-label="Check"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'success'"
              title="Đánh giá"
              [rounded]="true"
              (onClick)="showDialogCheckPlan(selectedPlan, index)"
            />
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_FIX_PLAN', 'ROLE_ISO_CHECK']"
              icon="pi pi-wrench"
              aria-label="Report"
              [rounded]="true"
              [routerLink]="['/plan', detail.id, 'inspection-report']"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
              title="Khai báo kế hoạch khắc phục"
            />
          </div>
          <div class="action-buttons my-1">
            <p-button
              *jhiHasAnyAuthority="['ROLE_ISO_ADMIN', 'ROLE_ISO_CREATE_PLAN']"
              icon="pi pi-trash"
              aria-label="Delete"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2"
              [severity]="'danger'"
              title="Xoá"
            />
          </div>
        </td>
        <td class="border text-center text-ellipsis" [ngbTooltip]="detail.name" container="body" placement="top-start">
          {{ detail.name }}
        </td>
        <td class="border text-center">{{ detail.testOfObject }}</td>
        <td class="border text-center">{{ detail.sumOfAudit }}</td>
        <td class="border text-center">{{ detail.scoreScale }}</td>
        <td class="border text-center">{{ getTotalPoit(detail) }}</td>
        <td class="border text-center">{{ detail.sumOfNc }}</td>
        <td class="border text-center">{{ detail.sumOfLy }}</td>
        <td class="border text-center">{{ detail.sumOfFail }}</td>
        <td class="border text-center">{{ detail.reviewer }}</td>
        <td class="border text-center"><p-tag [value]="detail.status" [severity]="getSeverity(detail.status)" /></td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="Nhập nội dung đánh giá" [(visible)]="noteDialogVisible" [modal]="true" [style]="{ width: '90vw' }">
  <ng-container *ngIf="selectedReport">
    <textarea
      [(ngModel)]="selectedReport.note"
      rows="6"
      class="form-control"
      placeholder="Nhập nội dung..."
      autofocus
      (keydown.enter)="handleEnter($event)"
    ></textarea>
  </ng-container>

  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-danger" (click)="selectedReport.note = ''">Xóa</button>
    <button type="button" class="btn btn-success" (click)="noteDialogVisible = false">Xong</button>
  </ng-template>
</p-dialog>
<p-confirmDialog />
